.text_block {
  padding: 40px 0;
  .page_subtitle {
    margin-bottom: 16px;
  }
  .paragraph {
    line-height: 28px;
  }
  .last_paragraph {
    display: inline-block;
    margin-right: 8px;
  }
  .link {
    font-weight: 500;
    color: #1c1c1c;
    .link:hover {
      text-decoration: underline;
    }
  }
}
